<!-- features.liquid -->
<div class="container">
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
        <img src="{{ block.settings.image | image_url }}" width="20px" alt="">
        <p>{{ block.settings.text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Features",
  "settings": [],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "EXPRESS DELIVERY SERVICE"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}
