{% schema %}

 {
  "name": "Footer",
  "settings": [
    {
      "type": "select",
      "id": "text_or_image",
      "label": "What you want to show",
      "default": "show_text",
      "options": [
        {
          "value": "show_text",
          "label": "Text"
        },
        {
          "value": "show_logo",
          "label": "image"
        }
      ]
    },
     {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
     },
    {
      "type": "text",
      "label": "Company Name",
      "id": "footer_text",
      "default": "Pritious"
    },
    {
      "type": "textarea",
      "label": "Description",
      "id": "desc",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis vulputate sapien, eget ultrices magna imperdiet eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
    }
    
  ]
 }
  
{% endschema %}
<footer class="p-5">
  <div class="container">
            <div class="row">
                <div class="col-lg-4">
                  {% if section.settings.text_or_image == 'show_logo' %}
                  <img src="{{ section.settings.footer_logo | image_url }}" width="200" height="auto" />
                {% elsif section.settings.text_or_image == 'show_text' %}
                  <h2>{{ section.settings.footer_text }}</h2>
                {% endif %}
                  <p>
                    {{ section.settings.desc }}
                  </p>
                  <ul class="p-0 m-0">
                    <li class="d-flex gap-2"> 
                        <i class="bi bi-telephone-outbound-fill"></i>
                        <a href="#">0123456790</a>
                    </li>
                    <li class="d-flex gap-2">
                        <i class="bi bi-envelope-at-fill"></i>
                        <a href="#">0123456790</a>
                    </li>
                </ul>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">links 01</div>
                        <div class="col-lg-4">links 02</div>
                        <div class="col-lg-4">links 03</div>
                    </div>
                </div>
            </div>
        </div>
</footer>

<style>
  footer{
    background:#071D30;
    color:#fff;
  }
</style>
