{% schema %}

 {
  "name": "Footer",
  "settings": [
     {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
     }
  ]
 }
  
{% endschema %}
<footer class="p-5">
  <div class="container">
            <div class="row">
                <div class="col-lg-4"><img src="{{ section.settings.footer_logo }}"; width=200px; height="auto" / ></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">links 01</div>
                        <div class="col-lg-4">links 02</div>
                        <div class="col-lg-4">links 03</div>
                    </div>
                </div>
            </div>
        </div>
</footer>

<style>
  footer{
    background:#071D30;
    color:#fff;
  }
</style>
