{% schema %}
{
  "name": "Header Pretious",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Pretious Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="header-pretious">
        <div class="container bg-dark">
            <div class="row">
                <div class="col-lg-3">hi</div>
                <div class="col-lg-9">Hi2</div>
            </div>
        </div>
    </div>