{% schema %}
{
  "name": "Header Pretious",
  "settings": [
     {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
     },
    {
      "type": "checkbox",
      "id": "enable_policies",
      "label": "Enable Free Shipping and mony back garenty policy",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_currency",
      "label": "Enable currency Switcher",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Pretious Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  section{
    font-family:poppins;
  }
  .policies {
            display: flex;
            gap: 40px;
        }

        .policies p {
            font-family: poppins;
            font-size: 10px;
            font-weight: 500;

        }

        .policies .policy {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .policies img {
            width: 45px;
        }

        .actions .action-links {
            display: flex;
            align-items: center;
            gap: 10px;
        }
</style>

<div class="header-pretious">
        <div class="container">
            <div class="row p-3">
                <div class="col-lg-3 ">
                 <img src="{{ settings.logo | img_url: '160x' }}" height="auto" alt="Logo">
                </div>
                <div class="col-lg-9 d-flex align-items-center justify-content-end" style="gap:10rem;">
                  
                  {% if section.settings.enable_policies %}
                    <div class="policies d-flex align-items-center">
                      <div class="policy">
                        <div class="p-icon"><img
                                src="https://vinova-urbanist.myshopify.com/cdn/shop/files/back.svg?v=1721355351"></div>
                        <div class="p-text">
                            <p class="m-0">MONEY BACK <br>GUARANTEED</p>
                        </div>
                    </div>
                    <div class="policy">
                        <div class="p-icon"><img
                                src="https://vinova-urbanist.myshopify.com/cdn/shop/files/delivery-truck.svg?v=1721265126">
                        </div>
                        <div class="p-text">
                            <p class="m-0">FREE DELIVERY FROM <br>OVER ORDER $ 250</p>
                        </div>
                    </div>
                    </div>
                  {% endif %}

                  {% if section.settings.enable_currency %}
                    <div class="currency">currency</div>
                  {% endif %}
                  
                  <div class="actions">actions</div>
                </div>
            </div>
        </div>
    </div>