{% schema %}
{
  "name": "Header Pretious",
  "settings": [
     {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
     },
    {
      "type": "checkbox",
      "id": "enable_policies",
      "label": "Enable Free Shipping and mony back garenty policy",
      "default": true
    },
    {
      "type": "text",
      "id": "free_shipping_price",
      "label": "Free Shipping over",
      "default": "$250",
    },
    {
      "type": "checkbox",
      "id": "enable_currency",
      "label": "Enable currency Switcher",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Pretious Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .header-pretious{
    padding:20px 0px;
  }
  .policies {
            display: flex;
            gap: 40px;
    font-family:poppins;
        }

        .policies p {
            font-family: poppins;
            font-size: 10px;
            font-weight: 500;

        }

        .policies .policy {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .policies img {
            width: 45px;
        }

        .actions .action-links {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .actions .action-links div {
            height: 45px;
            width: 45px;
            background-color: #f5f5f5;
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
        }

        .actions .action-links div i {
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          color:#000;
        }

        .actions .action-links div:hover {
            background-color: black;
            cursor: pointer;
        }

        .actions .action-links div:hover i {
            stroke: #fff;
            color: #fff;
            fill: #fff;
        }
        .nav {
            margin-top: 30px;
            background-color: #071D30;
            padding: 0px 10px;
            border-radius: 50px;
            color: #fff;
            font-family: poppins;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav div ul {
            display: flex;
            gap: 30px;
            list-style: none;
            font-size: 15px;
            padding: 5px 20px;
        }
        .nav div ul li{
            cursor: pointer;
        }
        .nav div ul li:hover{
            color: #f5f5f5;
        }

        .nav .search {
            height: 45px;
            background-color: #fff;
            min-width: 200px;
            border-radius: 50px;
            overflow: hidden;
            padding: 0px 20px;
            
        }
        .nav .search input{
            border: none !important;
            outline: none !important;
            height: 100%;
            width: 100%;
        }
</style>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>


<div class="header-pretious">
        <div class="container">
            <div class="row p-3">
                <div class="col-lg-3 ">
                 <img src="{{ settings.logo | img_url: '160x' }}" height="auto" alt="Logo">
                </div>
                <div class="col-lg-9 d-flex align-items-center justify-content-end" style="gap:10rem;">
                  
                  {% if section.settings.enable_policies %}
                    <div class="policies d-flex align-items-center">
                      <div class="policy">
                        <div class="p-icon"><img
                                src="https://vinova-urbanist.myshopify.com/cdn/shop/files/back.svg?v=1721355351"></div>
                        <div class="p-text">
                            <p class="m-0">MONEY BACK <br>GUARANTEED</p>
                        </div>
                    </div>
                    <div class="policy">
                        <div class="p-icon"><img
                                src="https://vinova-urbanist.myshopify.com/cdn/shop/files/delivery-truck.svg?v=1721265126">
                        </div>
                        <div class="p-text">
                            <p class="m-0">FREE DELIVERY FROM <br>OVER ORDER {{ section.settings.free_shipping_price }}</p>
                        </div>
                    </div>
                    </div>
                  {% endif %}

                  {% if section.settings.enable_currency %}
                    <div class="currency">currency</div>
                  {% endif %}
                  
                  <div class="actions">

                    <div class="action-links">
                    <div>
                        <i class="bi bi-person-fill"></i>
                    </div>
                    <div>
                        <i class="bi bi-heart-fill"></i>
                    </div>
                    <div>
                        <i class="bi bi-cart-fill" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
                    </div>
                </div>
                    
                  </div>
                </div>
            </div>
            <div class="row mt-5 p-3 nav">
              <div class="col-lg-8">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Collections</li>
                    <li>Blogs</li>
                    <li>Contact Us</li>
                </ul>           
              </div>
              <div class="col-lg-4 p-0">
                 <div class="search">
                  <input type="search" placeholder="Search for Product">
                </div>
              </div>
            </div>
        </div>
    </div>