{% schema %}
{
  "name": "Header Pretious",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Pretious Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="header-pretious">
        <div class="container">
            <div class="row p-3">
                <div class="col-lg-3 ">
                  <img src="https://vinova-urbanist.myshopify.com/cdn/shop/files/logo.png?v=1721981370" width="200px" height="auto" alt="">
                </div>
                <div class="col-lg-9">Hi2</div>
            </div>
        </div>
    </div>