<!-- custom-slider.liquid -->
<div class="container">
  <div class="row">
    <div class="slider">
      {% for block in section.blocks %}
        <div>
          {% if block.settings.background_image %}
            <div class="slide-image" style="background-image: url({{ block.settings.background_image | img_url: "orignal" }});"></div>
          {% else %}
            <div class="slide-image" style="background-color: #ddd;"></div>
          {% endif %}
          <div class="slide-content">
            <p>{{ block.settings.text }}</p>
            <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .slider {
    padding: 20px;
  }

  .slider .slick-slide {
    position: relative;
    margin: 0 10px;
    min-height: 650px;
    overflow: hidden;
    border-radius: 20px;
  }

  .slider .slick-slide .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    z-index: 1;
  }

  .slider .slick-slide .slide-content p {
    font-weight: 700;
    font-size: 18px;
  }

  .slider .slick-slide .slide-content a {
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    font-size: 14px;
  }

  .slider .slick-slide .slide-content a:hover {
    background-color: #f5f5f5;
  }

  .slider .slick-slide .slide-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display:block;
  }

  .slider .slick-slide:hover .slide-image {
    width: 105%;
    height: 105%;
  }
</style>

{% schema %}
{
  "name": "Hero Slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Slide Text"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}