<style>
  .sub-title {
    font-size: 14px;
    font-weight: 600;
    color: #a1a1a1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .title {
    font-size: 32px;
    color: #4d4d4d;
    font-weight: 600;
    margin: 0px;
  }

  .slider-nav-arrow {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #fff;
    padding: 13px;
    border: 1px solid #e7e8eb;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 5px 5px 10px #0000001a;
  }

  .slider-nav-arrow:hover {
    background-color: #70d1b7;
    box-shadow: 2px 2px 10px #0000001a;
  }

  .slider-nav-arrow svg {
    margin-top: -8px;
  }

  .slider-nav-arrow svg path {
    fill: #888;
    vertical-align: unset !important;
  }

  .slider-nav-arrow:hover svg path {
    fill: #fff;
  }

  .nav-arrow-mobile {
    display: none;
  }

  .product-slider {
    width: 100% !important;
  }

  .slider-product-card {
    min-height: 200px;
    min-width: 200px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .slick-slide {
    margin-right: 20px !important;
  }

  @media screen and (max-width: 992px) {
    .lg-slider-nav {
      display: none !important;
    }

    .nav-arrow-mobile {
      display: flex;
    }
  }

  .hover-image {
    position: absolute;
    transition: 0.5s ease-in-out;
    z-index: 9;
    top: 0;
    opacity: 0;
  }

  .slider-product-card:hover .hover-image {
    opacity: 1;
  }
</style>

<div class="container mt-5">
  <div class="row d-flex justify-content-between">
    <div class="col-lg-6 col-md-12">
      <p class="sub-title m-0 p-0">HANDPICK FURNITURE</p>
      <h2 class="title">Home Decoration</h2>
    </div>
    <div class="p-slider-nav lg-slider-nav col-lg-6 col-md-12 d-flex justify-content-end align-items-end px-4 gap-2">
      <span class="prev slider-nav-arrow">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)">
          <path d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z" fill="currentColor"></path>
        </svg>
      </span>
      <span class="next slider-nav-arrow">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z" fill="currentColor"></path>
        </svg>
      </span>
    </div>
  </div>

  <div class="row mt-3">
    <p>Debug</p>
    <p>Collection handle: {{ section.settings.collection }}</p>

    {% if section.settings.collection != blank %}
      <p>Collection is not blank</p>

      {% assign collection = collections[section.settings.collection] %}
      <p>Collection title: {{ collection.title }}</p>

      {% assign products = collection.products | limit: section.settings.product_limit %}
      <p>Product count: {{ products.size }}</p>

      {% if products.size > 0 %}
        <p>Some products meet the criteria</p>
        <div class="product-slider">
          {% for product in products %}
            {% render 'product-card' with product %}
          {% endfor %}
        </div>
      {% else %}
        <p>No products available at the moment.</p>
      {% endif %}
    {% else %}
      <p>Collection is blank</p>
    {% endif %}
  </div>

  <div class="row flex-nowrap nav-arrow-mobile mt-3">
    <div class="col d-flex justify-content-end align-self-center">
      <span class="prev slider-nav-arrow">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)">
          <path d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z" fill="currentColor"></path>
        </svg>
      </span>
    </div>
    <div class="col d-flex justify-content-start align-self-center">
      <span class="next slider-nav-arrow">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z" fill="currentColor"></path>
        </svg>
      </span>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Slider",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      },
      {
        "type": "range",
        "id": "product_limit",
        "label": "Number of Products",
        "default": 4,
        "min": 1,
        "max": 12,
        "step": 1
      }
    ],
    "presets": [
      {
        "name": "Product Slider",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}